{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'templates/css/style.css' %}" />
  </head>
  <body>
    <h1>Cali Gym Management System</h1>
    <h3>Coaches:
    <a href="/display/Marwan">Marwan</a>
    -
    <a href="/display/Hussein">Hussein</a>
    -
    <a href="/display/Tarek">Tarek</a>
    -
    <a href="/display/Diaa">Diaa</a>
    -
    <a href="/display/Laila">Laila</a>
    -
    <a href="/display/Shaher">Shaher</a>
    <br />
    <h3>To Add Members: <a href="/add">Add Member</a></h3>
    {% if form %} {% if add %}
    <form action="/add" method="post">
      {% csrf_token %} {{ form }}
      <input type="submit" value="Submit" />
    </form>
    {% else %}
    <form action="" method="post">
      {% csrf_token %} {{ form }}
      <input type="submit" value="Submit" />
    </form>
    {% endif %} {% endif %}
  </body>
</html>
